{{ $page := . }}
{{ $featured := partial "functions/get_featured_image.html" $page }}

{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}
{{ if and (not $title) .IsNode }}
  {{ if eq .Type "post" }}
    {{ $title = i18n "posts" }}
  {{ else if eq .Type "event" }}
    {{ $title = i18n "talks" }}
  {{ else if eq .Type "publication" }}
    {{ $title = i18n "publications" }}
  {{end}}
{{end}}

{{/* Banner image */}}
{{ if false }}
<div class="article-header">
  <!-- Banner image code omitted for brevity -->
</div>
{{end}}

{{/* Featured image layout */}}
{{ if false }}

<div class="article-container pt-3">
  <h1>{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
  {{ partial "page_links_div.html" $page }}
</div>

<div class="article-header featured-image-wrapper mt-4 mb-4">
  <!-- Featured image code omitted for brevity -->
</div>
{{else}}
  {{/* Case when page has no image */}}

  {{/* Wider container for nodes */}}
  {{ $ctnr := "article-container" }}
  {{ if $page.IsNode }}
    {{ $ctnr = "universal-wrapper" }}
  {{end}}
<div class="{{$ctnr}} pt-3">
  <h1>{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
    {{ partial "page_links_div.html" $page }}
  {{end}}
</div>
{{end}}
